@model PayingItemsCollectionModel

<div class="panel panel-primary" >
    <div class="panel-heading">Список транзакций за последние 2 дня:</div>
    <table class="table table-striped">
        <tr>
            <th>Дата</th>
            <th>Категория</th>
            <th>Счет</th>
            <th>Сумма</th>
            <th class="hidden-xs">Описание</th>
            <th class="hidden-xs">Действия</th>
        </tr>
        <tbody id="payingTable">
            @Html.Partial("_PayingItemsPartial", Model.PayingItems)
        </tbody>
    </table>
</div>

<div class="pager">
    @Html.Partial("_PageLinksPartial", Model.PagingInfo)
</div>

