@model String
@{
    ViewBag.Title = "Создание роли";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="userContainer">
    <div class="panel panel-primary">
        <div class="panel-heading">Создание роли</div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="panel-body">
                <div class="form-group">
                    @Html.TextBox("roleName", null, new { @class = "form-control", placeholder = "Имя" })
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Создать" class="btn btn-success btn-raised btn-sm" />
                @Html.ActionLink("Назад", "Index", "RoleAdmin", null, new { @class = "btn btn-default btn-raised btn-sm" })
            </div>
        }
    </div>
</div>