@using HomeAccountingSystem_WebUI.Models
@model IEnumerable<AccRoleModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">Список </div>
    <table class="table table-striped">
        <tr><th>Имя</th><th>Пользователи</th><th>Действия</th></tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Нет групп пользователей</td>
            </tr>
        }
        else
        {
            foreach (AccRoleModel item in Model)
            {
                @Html.Partial("RolesSummary",item)
            }
        }
    </table>
</div>
@Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary btn-raised btn-sm" })
@Html.ActionLink("Назад", "Index", "AdminSection", null, new { @class = "btn btn-default btn-raised btn-sm" })
@Html.ActionLink("На главную","Index","PayingItem",null,new {@class="btn btn-default btn-raised btn-sm pull-right"})
