@model IEnumerable<Account>
<div class="panel panel-primary">
    <div class="panel-heading">Мои счета</div>
    <table class="table table-striped">
        @foreach (var item in @Model)
        {
            <tr>
                <th>@item.AccountName</th>
                <td>@item.Cash.ToString("c")</td>
            </tr>
        }
    </table>
</div>

