@model IEnumerable<DomainModels.Model.Account>

<div class="form-group" id="Transfer_To">
    <label>Конечный счет:</label>
    @Html.DropDownList("AccountId", Model.Select(x => new SelectListItem()
       {
           Text = x.AccountName,
           Value = x.AccountID.ToString()
       }), new {@class = "selectpicker" })
</div>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('.selectpicker').selectpicker();
        });
</script>
