@using System.Web.Mvc.Html
@model IEnumerable<Account>
    <div class="panel panel-primary">
        <div class="panel-heading">Администрирование счетов</div>
        <div class="panel-body" id="accountList">
            <table class="table table-striped">
                <tr>
                    <th>
                        Наименование:
                    </th>
                    <th>
                        Сумма:
                    </th>
                    <th>
                        Действия:
                    </th>
                </tr>
                @Html.Partial("AccountSummaryPartial", Model)
            </table>
        </div>
        <div class="panel-footer">
            @Ajax.ActionLink("Добавить счет", "Add", null, new AjaxOptions()
           {
               Url = Url.Action("Add"),
               HttpMethod = "GET",
               UpdateTargetId = "payingDiv"
           }, new { @class = "btn btn-primary btn-raised btn-sm" })
            @Ajax.ActionLink("На главную", "List", "PayingItem",null,new AjaxOptions()
            {
                Url = Url.Action("List","PayingItem"),
                UpdateTargetId = "payingDiv"
            },new {@class="btn btn-default btn-raised btn-sm pull-right"})
        </div>
    </div>