@model Product

<form method="post" asp-action="Edit" asp-controller="Product" asp-antiforgery="true" class="form-inline" data-ajax="true" data-ajax-mode="replace"
      data-ajax-update="#productsDiv" data-ajax-url="@Url.Action("Edit", "Product")" data-ajax-method="post">
    <div class="panel-body">
        <input asp-for="ProductID" type="hidden" />
        <input asp-for="UserID" type="hidden" />
        <input asp-for="CategoryID" type="hidden" />
        <div class="form-group">
            <label>Наименование</label>
            <input asp-for="ProductName" class="form-control" />
            <div><span asp-validation-for="ProductName" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <input asp-for="Description" class="form-control" />
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
        <a asp-action="ProductList" asp-controller="Product" asp-route-categoryId="@Model.CategoryID" class="btn btn-default btn-raised btn-sm"
           data-ajax="true" data-ajax-mode="replace" data-ajax-update="#productsDiv" data-ajax-url="@Url.Action("ProductList", "Product", new { categoryId = Model.CategoryID })">
            Назад
        </a>
    </div>
</form>