@model Category
@{
    List<TypeOfFlow> list = ViewBag.TypesOfFlow;
}
<div class="panel panel-primary">
    <div class="panel-heading">Добавление категории</div>
    <form method="post" asp-action="Add" asp-antiforgery="true" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#categoryDiv"
          data-ajax-url="@Url.Action("Add")">
        <div class="panel-body">
            <input asp-for="CategoryID" type="hidden">
            <input asp-for="UserId" type="hidden">
            <div class="form-group">
                <label>Название:</label>
                <input asp-for="Name" class="form-control"/>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label>Тип:</label>
                <select asp-for="TypeOfFlowID" asp-items="@list.Select(x => new SelectListItem() { Text = x.TypeName, Value = x.TypeID.ToString() })" class="selectpicker"></select>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
            <a asp-action="Index" asp-controller="Category" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" data-ajax-url="@Url.Action("Index", "Category")"
               class="btn btn-default btn-raised btn-sm">
                Вернуться назад
            </a>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            $('.selectpicker').selectpicker();
        });
</script>