@model CategoriesCollectionModel

<div class="col-xs-2">
    @await Component.InvokeAsync(nameof(TypesOfFlowForCategories)) 
</div>
<div class="col-xs-10" id="categoryPanel">
    <div class="panel panel-primary">
        <div class="panel-heading">Администрирование категорий</div>
        <div class="panel-body" id="categoryDiv">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Подкатегории
                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
                </thead>
                <tbody id="categoryContainer">
                    @await Html.PartialAsync("_CategorySummary", Model.Categories)
                </tbody>
            </table>
            <div class="text-center">
                @await Html.PartialAsync("_PageLinks", Model)
            </div>
        </div>        
    </div>
    <div class="pager">
        <a asp-action="Add" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#categoryDiv"
           data-ajax-url="@Url.Action("Add")" class="btn btn-primary btn-raised btn-sm pull-left">Добавить категорию</a>
        
        <a asp-action="List" asp-controller="PayingItem" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv"
           data-ajax-url="@Url.Action("List", "PayingItem")" class="btn btn-default btn-raised btn-sm pull-right">На главную</a>
    </div>
</div> 