@model List<HomeAccountingSystem_DAL.Model.Product>
<table class="table table-striped" id="Products">
    <tr>
        <th>Добавить</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Цена</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">Нет подкатегорий</td>
        </tr>
    }
    else
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    <input type="checkbox" name="PricesAndIdsInItem[@i].Id" value="@Model[i].ProductID"/>
                </td>
                <td>
                    @Model[i].ProductName
                </td>
                <td>
                    @Model[i].Description
                </td>
                <td>
                    @Html.TextBox("PricesAndIdsInItem[" + i + "].Price", Model[i].Price, new { @class = "form-control", placeholder = "Цена" })
                </td>
            </tr>
        }
    }
</table>
@if (Model.Count == 0)
{
    <script type="text/javascript">
            $(function() {
                $('#ReadOnlySumm').prop('readonly', false);
                $('#ReadOnlySumm').val(0);
            });
    </script>
}
else
{
    <script type="text/javascript">
            $(function() {
                $('#ReadOnlySumm').prop('readonly', true);
                $('#ReadOnlySumm').val(0);
            });
    </script>
}
