@model IEnumerable<AccRoleModel>
<div class="panel panel-primary">
    <div class="panel-heading">Список </div>
    <table class="table table-striped">
        <tr>
            <th>Имя</th><th>Пользователи</th><th>Действия</th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">Нет групп пользователей</td>
            </tr>
        }
        else
        {
            foreach (AccRoleModel item in Model)
            {
                @Html.Partial("_RolesSummary", item)
            }
        }
    </table>
</div>
@Ajax.ActionLink("Создать", "Create", null, new AjaxOptions()
{
    Url = Url.Action("Create"),
    UpdateTargetId = "adminSection"
}, new {@class = "btn btn-primary btn-raised btn-sm"})
@Ajax.ActionLink("Назад", "Index", "AdminSection", null, new AjaxOptions()
{
    Url = Url.Action("Index", "AdminSection"),
    UpdateTargetId = "payingItemMainBody"
}, new {@class = "btn btn-default btn-raised btn-sm"})
@Ajax.ActionLink("На главную", "MainPage", "PayingItem", null, new AjaxOptions()
{
    OnBegin = "showPopupLogin",
    OnSuccess = "redirectToMain"
}, new {@class = "btn btn-default btn-raised btn-sm pull-right"})