@using WebUI.HtmlHelpers
@model WebUI.Models.AccRoleModel
<tr>
    <td>@Model.Name</td>
    <td>
        @if (Model.Users == null || Model.Users.Count == 0)
        {
            @: Нет пользователей
        }
        else
        {
            foreach (var user in Model.Users)
            {
                <p>
                    @string.Join(",", Html.GetName(user.UserId)) 
                </p>
            }
        }
    </td>
    <td>
        @using (Html.BeginForm("Delete", "RoleAdmin", new { id = Model.Id }))
        {
            @Html.ActionLink("Редактировать","Edit","RoleAdmin",new {id = Model.Id},new {@class="btn btn-success btn-raised btn-xs"})
            <input type="submit" value="Удалить" class="btn btn-danger btn-raised btn-xs"/>
        }
    </td>
</tr>
