@model IEnumerable<Order>
<table class="table table-hover">
    <tr>
        <th>Дата</th>
        <th class="text-center">Общая сумма</th>
        <th colspan="3" class="text-center">Действия со списком</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderDate.ToShortDateString()</td>
            <td>
                @{
                    var sum = order.OrderDetails.Sum(x => x.ProductPrice);
                }
                @if (sum != null)
                {
                    @sum.Value.ToString("c")
                }
            </td>
            <td>
                @using (Ajax.BeginForm("Delete", new {id = order.OrderID}, new AjaxOptions()
                {
                    Url = Url.Action("Delete", new {id = order.OrderID}),
                    UpdateTargetId = "orderDetailDiv"
                }))
                {
                    @Ajax.ActionLink("Редактировать", "Edit", new {id = order.OrderID}, new AjaxOptions()
                    {
                        Url = Url.Action("Edit", new {id = order.OrderID}),
                        UpdateTargetId = "orderDetailDiv",
                        OnSuccess = "disableButtons"
                    }, new {@class = "btn btn-xs btn-raised"})
                    <input type="submit" value="Удалить" class="btn btn-danger btn-xs btn-raised" />
                }
            </td>
            <td>
                @using (Ajax.BeginForm("SendEmail", new { id = order.OrderID }, new AjaxOptions()
                {
                    Url = Url.Action("SendEmail", new { id = order.OrderID }),
                    LoadingElementDuration = 1500,
                    LoadingElementId = "loading"
                }))
                {
                    <input type="submit" value="Отправить на почту" class="btn btn-xs btn-raised btn-warning" />
                } 
            </td>
            <td>
                @using (Ajax.BeginForm("CloseOrder", new {id = order.OrderID}, new AjaxOptions()
                {
                    Url = Url.Action("CloseOrder", new {id = order.OrderID}),
                    UpdateTargetId = "orderDetailDiv"
                }))
                {
                    <input type="submit" value="Закрыть список" class="btn btn-raised btn-xs btn-success"/>
                }
            </td>
        </tr>
    }
</table>
