<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/bundles/bootstrap/css", "~/bundles/material-kit/css")
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/bootstrap")
    <title>Авторизация</title>
</head>
<body>
    @RenderBody()
</body>
</html>
