@* @model IList<Category> *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Выбор категорий"; *@
@*     Layout = "~/Views/Shared/_PlaningLayout.cshtml"; *@
@* } *@
@* *@
@* @section SelectScript{ *@
@*     <script type="text/javascript"> *@
@*     function selectAll() { *@
@*         var check = $('#mainCheck').val(); *@
@*         var elems = document.getElementsByName("ids"); *@
@*         for (var i = 0; i < elems.length; i++) { *@
@*             $(elems[i]).prop('checked', check); *@
@*         } *@
@*     }; *@
@* </script>    *@
@* } *@
@* *@
@* <div class="container"> *@
@*     <div class="panel panel-primary"> *@
@*         <div class="panel-heading">Категории для вывода в планировании</div> *@
@*         @using (Ajax.BeginForm(new AjaxOptions() *@
@*         { *@
@*             Url = Url.Action("SelectCategoriesAjax"), *@
@*             HttpMethod = "POST", *@
@*             OnSuccess = "onSuccess" *@
@*         })) *@
@*         { *@
@*             <div class="panel-body"> *@
@*                 <table class="table table-striped"> *@
@*                     <tr> *@
@*                         <th> *@
@*                             <input id="mainCheck" type="checkbox" onclick="selectAll()" /><label>Выбрать все</label> *@
@*                         </th> *@
@*                         <th>Категория</th> *@
@*                     </tr> *@
@* *@
@*                     @for (int i = 0; i < Model.Count; i++) *@
@*                 { *@
@*                         <tr> *@
@*                             <td> *@
@*                                 @if (Model[i].ViewInPlan) *@
@*                                 { *@
@*                                     <input type="checkbox" id="ids" name="ids" value="@Model[i].CategoryID" checked="checked" /> *@
@*                                 } *@
@*                                 else *@
@*                                 { *@
@*                                     <input type="checkbox" id="ids" name="ids" value="@Model[i].CategoryID" /> *@
@*                                 } *@
@*                             </td> *@
@*                             <td> *@
@*                                 @Model[i].Name *@
@*                             </td> *@
@*                         </tr> *@
@*                     } *@
@*                 </table> *@
@*                 <input type="submit" value="Сохранить" class="btn btn-success btn-raised"/> *@
@*                 @Html.ActionLink("Назад","ViewPlan", null, new {@class= "btn btn-default btn-raised pull-right" }) *@
@*             </div> *@
@*         } *@
@*     </div>     *@
@* </div> *@