@model IEnumerable<DomainModels.Model.Account>
    <select id="ToId" name="ToId" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.AccountID">@item.AccountName</option>
        }
    </select>
