@model AccountingUserModel

<div class="userContainer">
    <div class="well">
        <form method="post" asp-action="ChangeCredentials" asp-antiforgery="true" data-ajax="true" data-ajax-mode="replace" 
              data-ajax-update="#payingItemMainBody" data-ajax-url="@Url.Action("ChangeCredentials")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">                
                <input type="text" asp-for="FirstName" class="form-control" placeholder="Имя"/>
            </div>
            <div class="form-group">
                <input type="text" asp-for="LastName" class="form-control" placeholder="Фамилия" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
            </div>
            <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingItemMainBody" asp-action="ViewCredentials" data-ajax-url="@Url.Action("ViewCredentials")"
               class="btn btn-danger btn-raised btn-sm pull-right">Отмена</a>
        </form>
    </div>
</div>
