@model ChangeUserPasswordModel

<div class="userContainer">
    <div class="well">
        <form method="post" asp-action="ChangePassword" asp-antiforgery="true" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingItemMainBody"
              data-ajax-url="@Url.Action("ChangePassword")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CurrentPassword" class="form-control", placeholder="Текущий пароль" />
                <div><span asp-validation-for="CurrentPassword" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control", placeholder="Новый пароль" />
                <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control", placeholder="Подтверждение пароля" />
                <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
            <a asp-action="ViewCredentials" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingItemMainBody"
               data-ajax-url="@Url.Action("ViewCredentials")" class="btn btn-danger btn-raised btn-sm pull-right">Отмена</a>
        </form>        
    </div>
</div>