
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xs-3"></div>
<div id="adminSection" class="col-xs-7">
    <div class="panel panel-danger">
        <div class="panel-heading">Администрирование</div>
        <table class="table table-striped">
            <tr>
                <td class="text-center">
                    @Html.ActionLink("Пользователи", "Index", "Admin", null, new {@class = "btn btn-primary btn-raised btn-sm"})
                </td>
            </tr>
            <tr>
                <td class="text-center">@Html.ActionLink("Роли", "Index", "RoleAdmin", null, new {@class = "btn btn-primary btn-raised btn-sm"})</td>
            </tr>
            <tr>
                <td class="text-center">
                    @Html.ActionLink("Почтовые ящики сервисов", "Index", "Mailbox", null, new { @class = "btn btn-primary btn-raised btn-sm" })
                </td>
            </tr>
        </table>
    </div>
    @Ajax.ActionLink("На главную", "MainPage", "PayingItem", null, new AjaxOptions()
    {
        OnBegin = "showPopupLogin",
        OnSuccess = "redirectToMain"
    }, new {@class = "btn btn-default btn-raised btn-sm"})
</div>


