@model IEnumerable<NotificationMailBox>

<div id="mailBoxes">
    @Html.Partial("_List")
</div>
@Ajax.ActionLink("Создать", "Add", null, new AjaxOptions()
{
    Url = Url.Action("Add"),
    UpdateTargetId = "adminSection"
}, new {@class = "btn btn-primary btn-raised btn-sm", id = "addBtn"})
@Ajax.ActionLink("Назад", "Index", "AdminSection", null, new AjaxOptions()
{
    Url = Url.Action("Index", "AdminSection"),
    UpdateTargetId = "payingItemMainBody"
}, new {@class = "btn btn-default btn-raised btn-sm", id = "returnBtn"})
@Ajax.ActionLink("На главную", "MainPage", "PayingItem", null, new AjaxOptions()
{
    Url = Url.Action("MainPage", "PayingItem"),
    OnBegin = "showPopupLogin",
    OnSuccess = "hidePopup",
    UpdateTargetId = "payingItemMainBody"
}, new {@class = "btn btn-default btn-raised btn-sm pull-right"})