@model IEnumerable<Order>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger">@TempData["message"]</div>
    }
<div class="panel panel-primary">
    <div class="panel-heading"> Список покупок <span class="pull-right" style="display: none" id="loading">Отправка списка...</span></div>
    <div class="panel-body" id="orderDetailDiv">
        @Html.Partial("_OrderList", Model)
    </div>
    @using (Ajax.BeginForm("Add", new AjaxOptions()
    {
        Url = Url.Action("Add"),
        UpdateTargetId = "orderDetailDiv"
    }))
    {
        @Ajax.ActionLink("На главную", "List", "PayingItem", null, new AjaxOptions()
        {
            Url = Url.Action("List", "PayingItem"),
            UpdateTargetId = "payingDiv"
        }, new {@class = "btn btn-default btn-raised btn-xs pull-right", id="returnBtn"})
        <input type="submit" id="addOrder" value="Добавить список" class="btn btn-xs btn-raised btn-primary pull-right"/>
    }
</div>

