@model CreateUserModel

<div class="userContainer">
    <div class="well">
        <form method="post" asp-antiforgery="true" ajax-enable="true" ajax-method="POST" ajax-mode="replace" ajax-update-element-id="#adminSection" ajax-url="@Url.Action("Create")">
            <div asp-validation-summary="ModelOnly"></div>   
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Имя"/>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Пароль"/>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
            </div>
            <input type="submit" value="Создать" class="btn btn-success btn-raised btn-sm" />
            <a asp-action="Index" ajax-enable="true" ajax-mode="replace" ajax-update-element-id="#adminSection" ajax-url="@Url.Action("Index")"
               class="btn btn-default btn-raised btn-sm">Назад</a>
        </form>
    </div>
</div>