@model DebtsCollectionViewModel
<div class="panel panel-primary">
    <div class="panel-heading">Долги</div>
    <div class="panel-body" id="debtPanel">
        <div id="myDebtsDiv">
            <table class="table table-hover">
                <caption>Я должен</caption>
                <tr>
                    <th>Сколько</th>
                    <th>Кому</th>
                    <th>Счет</th>
                    <th>Дата займа</th>
                    <th colspan="2" class="text-center">Действия</th>
                </tr>
                <tbody>
                @Html.Partial("_DebtListPartial", Model.MyDebts)
                </tbody>
            </table>
        </div>
        <div id="debtsToMeDiv">
            <table class="table table-hover">
                <caption>Мне должны</caption>
                <tr>
                    <th>Сколько</th>
                    <th>Кто</th>
                    <th>Счет</th>
                    <th>Дата займа</th>
                    <th colspan="2" class="text-center">Действия</th>
                </tr>
                <tbody>
                @Html.Partial("_DebtListPartial", Model.DebtsToMe)
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        @Ajax.ActionLink("Добавить", "Add", null, new AjaxOptions()
        {
            Url = Url.Action("Add"),
            UpdateTargetId = "debtPanel"
        }, new {@class = "btn btn-raised btn-primary btn-sm"})
        @Ajax.ActionLink("На главную", "List", "PayingItem", null, new AjaxOptions()
        {
            Url = Url.Action("List", "PayingItem"),
            UpdateTargetId = "payingDiv"
        }, new {@class = "btn btn-default btn-raised btn-sm pull-right"})
    </div>
</div>