@model WebUI.Models.Budget
<div class="panel panel-default">
    <div class="panel-heading"><b>Бюджеты</b></div>
    <table class="table table-striped">
        <tr>
            <th>Фактический</th>
            <td>@Model.BudgetInFact</td>
        </tr>
        <tr>
            <th>Текущий</th>
            <td>@Model.BudgetOverAll</td>
        </tr>
    </table>
</div>

