@model OrderDetailModel
<script type="text/javascript">
    $(function() {

        $('#Categories')
            .change(function() {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubCategories")/' + id,
                    success: function(data) {
                        $('#OrderDetail').replaceWith(data);
                    }
                });
            });
    })
</script>
<div class="pull-right">
    @using (Ajax.BeginForm("Add", "OrderDetail", null, new AjaxOptions()
    {
        Url = Url.Action("Add", "OrderDetail"),
        UpdateTargetId = "orderDetailDiv"
    }, new { @class = "form-inline" }))
    {
        @Html.Hidden("OrderDetail.OrderId", Model.OrderId)
        <div class="form-group">
            <label>Категория</label>
            @Html.DropDownListFor(x => x.Categories, Model.Categories.Select(x => new SelectListItem()
               {
                   Text = x.Name,
                   Value = x.CategoryID.ToString()
               }), new { @class = "selectpicker" })
        </div>        
        <div class="form-group" id="OrderDetail">
            <label>Подкатегории</label>
            @Html.DropDownList("OrderDetail.ProductId", Model.Products.Select(x => new SelectListItem()
       {
           Text = x.ProductName,
           Value = x.ProductID.ToString()
       }), new { @class = "selectpicker" })
        </div>
        <input type="submit" value="Добавить" class="btn btn-raised btn-success btn-xs" />
    }
</div>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('.selectpicker').selectpicker();
        });
</script>
