<form role="form" class="form form-inline">
    <div class="form-group">
        <input type="hidden" data-bind="value: UserId" value="@Model.UserId"/>
        <input type="text" class="form-control" data-bind="value: Name" placeholder="Название"/>
    </div>
    <input type="button" class="btn btn-sm btn-success btn-raised" data-bind="click: addGroup" value="Добавить"/>
</form>

