<div class="panel panel-info well">
    <div style="text-align: center">
        Добавить <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" data-ajax-url="@Url.Action("Add", "PayingItem", new { typeOfFlowId = 1 })" 
                    asp-action="Add" asp-controller="PayingItem" asp-route-typeOfFlowId="1">доходную</a>
                 или <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" data-ajax-url="@Url.Action("Add", "PayingItem", new { typeOfFlowId = 2 })" 
                    asp-action="Add" asp-controller="PayingItem" asp-route-typeOfFlowId="2">расходную</a> транзакции
    </div>    
</div>