@model HomeAccountingSystem_WebUI.Models.DebtsModel
<div class="panel panel-primary">
    <div class="panel-heading">Долги</div>
    <div class="panel-body" id="debtPanel">
        <table class="table table-hover">
            <caption>Я должен</caption>
            <tr>
                <th>Сколько</th>
                <th>Кому</th>
                <th>Какой счет</th>
                <th>Дата займа</th>
                <th colspan="2" class="text-center">Действия</th>
                <th></th>
            </tr>
            <tbody id="myDebtsTable">
            @Html.Partial("DebtListPartial", Model.MyDebts)
            </tbody>
        </table>
        <table class="table table-hover">
            <caption>Мне должны</caption>
            <tr>
                <th>Сколько</th>
                <th>Кто</th>
                <th>Счет</th>
                <th>Дата займа</th>
                <th colspan="2" class="text-center">Действия</th>
                <th></th>
            </tr>
            <tbody id="debtsToMeTable">
            @Html.Partial("DebtListPartial", Model.DebtsToMe)
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Ajax.ActionLink("Добавить", "Add", null, new AjaxOptions()
        {
            Url = Url.Action("Add"),
            UpdateTargetId = "debtPanel"
        }, new {@class = "btn btn-raised btn-primary btn-sm"})
        @Ajax.ActionLink("На главную", "List", "PayingItem", null, new AjaxOptions()
        {
            Url = Url.Action("List", "PayingItem"),
            UpdateTargetId = "payingDiv"
        }, new {@class = "btn btn-default btn-raised btn-sm pull-right"})
    </div>
</div>
