<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/png" href="../Content/assets/img/favicon.png">
    <title>Авторизация</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    @Styles.Render("~/bundles/material-kit/css")

    @Scripts.Render("~/bundles/jquery-loginPage")
</head>

<body class="signup-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../Content/assets/img/city.jpg'); background-size: cover; background-position: top center;">
            @RenderBody()          
        </div>
    </div>
</body>

</html>

