<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="C:\Programs\Logs\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name ="mailTo" value="aka.apostol@gmail.com"/>
  <variable name="mailFrom" value="home.accounting@list.ru"/>
  <variable name="userName" value="home.accounting@list.ru"/>
  <variable name="password" value="23we45rt"/>
  <variable name="smtpServer" value="smtp.list.ru"/>
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="filelog" xsi:type="File" fileName="C:\Programs\Accounting\Logs\${shortdate}-accountingLog.txt"/>
    <target name="errormaillog" xsi:type="Mail" header="${date}${newline}" body="${message}${newline}" html="false" subject="Ошибка в приложении на сервере ${machinename}" to="${mailTo}" from="${mailFrom}" smtpServer="${smtpServer}" smtpPort="587" enableSsl="true"  smtpAuthentication="Basic" smtpPassword="${password}" smtpUserName="${userName}"/>
    <!--<target name="infomaillog" xsi:type="Mail" body="${message}${newline}" html="false" subject="Уведомление с сервера ${machinename}" to="${mailTo}" from="${mailFrom}" smtpServer="${smtpServer}" smtpPort="587" enableSsl="true"  smtpAuthentication="Basic" smtpPassword="${password}" smtpUserName="${userName}"/>-->
    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
      <logger name="*" minlevel="Error" writeTo="filelog"/>
      <logger name="*" minlevel="Error" writeTo="errormaillog"/>
      <!--<logger name="*" level="Warn" writeTo="infomaillog"/>-->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>