<div class="well">
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("GetByDatesReport"),
        UpdateTargetId = "reportPanelBody",
        HttpMethod = "POST"
    }))
    {
        <div>
            <label class="form-group">Начальная дата:</label>
            @Html.TextBox("DtFrom", null, new
            {
                @class = "datepicker form-control",
                onclick = "clickDtFrom()",
                Value = DateTime.Today.ToShortDateString()
            })

            <label class="form-group">Конечная дата:</label>
            @Html.TextBox("DtTo", null, new
            {
                @class = "datepicker form-control",
                onclick = "clickDtTo()",
                Value = DateTime.Today.ToShortDateString()
            })
        </div>
        <p>
            <input type="submit" value="Сформировать" class="btn btn-success btn-raised"/>
        </p>
    }
</div>
<script type="text/javascript">
    $(document).ready(clickDtFrom);
    $(document).ready(clickDtTo);
</script>