@model AccountAddModel
<div class="panel panel-primary">
    <div class="panel-heading">Добавление счета</div>
    <form asp-action="Add" method="post" asp-antiforgery="true" data-ajax="true" data-ajax-mode="replace" data-ajax-method="post"
          data-ajax-update="#payingDiv" data-ajax-success="updateAfterTransfer" data-ajax-url="@Url.Action("Add")">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="panel-body">
            <div class="label-floating form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <div><span asp-validation-for="AccountName" class="text-danger"></span></div>
            </div>
            <div class="label-floating form-group">
                <label asp-for="Cash" class="control-label"></label>
                <input asp-for="Cash" class="form-control" />
                <div><span class="text-danger" asp-validation-for="Cash"></span></div>
            </div>
            <div class="checkbox">
                <label class="form-check-label">
                    <input asp-for="Use"/>
                    Отображать в текущем бюджете
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
                <a asp-action="Index" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" data-ajax-url="@Url.Action("Index")"
                   class="btn btn-default btn-raised btn-sm">Назад</a>
            </div>
    </form>
</div>
<script src="~/assets/js/material-kit.js" asp-append-version="true"></script>