@model IEnumerable<DomainModels.Model.Account>

<div class="form-group" id="Transfer_To">
    <label>Конечный счет:</label>
    <select id="ToId" name="ToId" asp-items="@Model.Select(x => new SelectListItem() { Text = x.AccountName, Value = x.AccountID.ToString() })" class = "selectpicker"></select>
</div>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('.selectpicker').selectpicker();
        });
</script>
